@media screen and (max-width: 768px) {
    body {
        height: auto;
        padding: 0;
        margin: 0;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        border-radius: 0;
        padding: 0;
    }

    section#home {
        height: 100%;
    }

    section#home img {
        content: url(../assets/images/illustration-sign-up-mobile.svg);
    }

    section article {
        padding: 2rem;
        width: auto;
    }

    section#home article {
    }

    article h1 {
        font-size: 2.5rem;
    }
}