@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: hsl(234, 29%, 20%);
}

body {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: white;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

section span {
    font-weight: bold;
}

article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem;
    width: 35vw;
}

section#success {
    flex-direction: column;
}

section#success img {
    width: 70px;
    margin: 3rem 3rem 0;
}


h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

p {
    font-size: 16px;
    margin: 1rem 0;
    line-height: 1.7em;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    margin-bottom: 2rem;
}

ul li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    line-height: 1.7em;
}

ul li::before {
    content: url('../assets/images/icon-list.svg');
    margin-right: 1rem;
    transform: translateY(0.25rem);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 14px;
}

input::placeholder {
    color: hsl(231, 7%, 60%);
}

input:focus {
    cursor: pointer;
}

input:focus:invalid {
    border: 1px solid hsl(0, 100%, 74%);
    background-color: hsl(4, 100%, 67%, 0.2);
}

input:focus:invalid::placeholder {
    color: hsl(0, 100%, 74%);
}

button {
    background-color: hsl(234, 29%, 20%);
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    padding: 1rem;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background: linear-gradient(to right, hsl(4, 97%, 58%), hsl(4, 100%, 67%));
    cursor: pointer;
    box-shadow: 0px 10px 10px hsl(0, 0%, 0%, 0.1);
}